<% if @pessoa %>
  E-mail <%= @pessoa.email %> adicionado.
<% end %>


<div class="center hero-unit">
  <form>
  	<input type="text" name="numero" value="<%= params['numero'] %>" maxlength="18" class="input-processo" placeholder="Número do Processo"/><br />
  	<input type="submit" value="Consultar" class="btn btn-large btn-primary btn-processo" />
  </form>
</div>


<% if @resultado %>
  <%= @resultado %>

  <%= form_for :pessoa, url: pessoas_path do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.submit %>
  <% end %>
<% end %>
