<% if @pessoa %>
  E-mail <%= @pessoa.email %> adicionado.
<% end %>
<%= params['numero'] %>
<form>
	<input type="text" name="numero" />
	<input type="submit" value="Consultar" />
</form>

<% if @resultado %>
  <%= @resultado %>

  <%= form_for :pessoa, url: pessoas_path do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.submit %>
  <% end %>
<% end %>
