<!DOCTYPE html>
<html>
<head>
  <title>Siadfacil</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-responsive">
      <%= link_to "SiadFácil", root_path, id: "logo", class: "brand" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Início", root_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div id="wrap" class="container-responsive">
	<div class="row-fluid">
		<% flash.each do |k, v| %>
			<div class='<%= k %>'><%= v %></div>
  		<% end %>
  	</div>
  	<%= yield %>
  	<div id="footer" class="row-fluid">
		<p>Fork on <a href="http://github.com/rodrigorgs/siadfacil" target="_blank">Github</a></p>	
	</div>
</div>

</body>
</html>
