<!DOCTYPE html>
<html>
<head>
  <title>Siadfacil</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |k, v| %>
  <div class='flash <%= k %>'><%= v %></div>
<% end %>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-responsive">
      <%= link_to "SiadFácil", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Início", root_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="container-responsive">
  <%= yield %>
</div>

</body>
</html>
